<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>main.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>main.servlet.ChangeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllWindows</servlet-name>
        <servlet-class>main.api.GetAllWindows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfo</servlet-name>
        <servlet-class>main.api.GetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetTaskToTicket</servlet-name>
        <servlet-class>main.api.SetTaskToTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTasks</servlet-name>
        <servlet-class>main.api.GetTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWindowsByServiceId</servlet-name>
        <servlet-class>main.api.GetWindowsByServiceId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeWindow</servlet-name>
        <servlet-class>main.servlet.ChangeWindow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServicesByWindowId</servlet-name>
        <servlet-class>main.api.GetServicesByWindowId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllWindows</servlet-name>
        <url-pattern>/getAllWindows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetTaskToTicket</servlet-name>
        <url-pattern>/SetTaskToTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfo</servlet-name>
        <url-pattern>/GetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTasks</servlet-name>
        <url-pattern>/GetTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWindowsByServiceId</servlet-name>
        <url-pattern>/GetWindowsByServiceId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeWindow</servlet-name>
        <url-pattern>/ChangeWindow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServicesByWindowId</servlet-name>
        <url-pattern>/GetServicesByWindowId</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            14400000
        </session-timeout>
    </session-config>
</web-app>
