body{
    background: url(../img/background-yellow.webp) no-repeat center center fixed;
    background-size: cover;
}
a{
   
}
.body{
    background-color: lightgray /*#0A8754*/;
    
}
.bg-costum{
    background-color: /*#004F2D*/ #0A8754;
}
.bg-costum:hover{
    background-color:#004F2D;
}
.appHover:hover{
    background-color: #00cc66;
}